<%- include('includes/head.ejs') %>

    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }
        
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        
        .closebtn:hover {
            color: black;
        }
    </style>

    <body>

        <%- include('includes/navigation.ejs') %>

            <section class="breadcrumb_part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb_iner">
                                <%if(!editing){%>
                                    <h2>Add a New Product</h2>
                                    <%}else{%>
                                        <h2>Edit
                                            <%= product.title%>
                                        </h2>
                                        <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="contact-section section_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 style="color: rgba(14,12,12,0.8);" class="contact-title">There's something for every occasion</h2>
                        </div>
                        <%if(ImageError){%>
                            <div style="margin-left: 25%;" class="alert">
                                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> Please Enter an Image ".png .jpg .jpeg only"
                            </div>
                            <%}%>
                                <div style="display: flex; align-items: center; justify-content: center; text-align: center; align-self: center;" class="col-lg-9">
                                    <form class="contact-form" enctype="multipart/form-data" method="POST" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="title" type="text" placeholder="product name *" value="<% if (editing) { %><%= product.title %><% } %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="price" type="Number" placeholder="price *" step="0.01" value="<% if (editing) { %><%= product.price%><% } %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="description" type="text" placeholder="description *" value="<% if (editing) { %><%= product.description %><% } %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="category" type="text" placeholder="category * Choose Necklaces, Bracelet, or Rings" value="<% if (editing) { %><%= product.category %><% } %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="gender" type="text" placeholder="gender * Choose either Male or Female only" value="<% if (editing) { %><%= product.gender %><% } %>">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="image" type="file" placeholder="image *">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="quantity" type="Number" placeholder="quantity *" value="<% if (editing) { %><%= product.quantity %><% } %>">
                                                </div>
                                            </div>
                                            <% if (editing) { %>
                                                <input type="hidden" value="<%= product._id %>" name="productId">
                                                <% } %>
                                                    <div class="col-md-12">
                                                        <div class="text-center">
                                                            <button class="btn_3">
                                                <%if(!editing){%>
                                                    Add Product
                                                <%}else{%>
                                                    Edit Product
                                                    <%}%>
                                            </button>
                                                        </div>
                                                    </div>
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </section>

            <%- include('includes/end.ejs') %>